{
  "editor.suggestSelection": "first",
  "vsintellicode.modify.editor.suggestSelection": "automaticallyOverrodeDefaultValue",
  "editor.minimap.maxColumn": 120,
  "editor.wordWrap": "on",
  "javascript.updateImportsOnFileMove.enabled": "always",
  "window.zoomLevel": 0,
  "editor.defaultFormatter": "esbenp.prettier-vscode",
  "[javascript]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "editor.tabSize": 2,
  "editor.formatOnSave": true,
  "prettier.printWidth": 120,
  "prettier.semi": true
}
