.collectorTitle {
  font-size: 24px;
  padding: 20px 0;
  font-weight: 600;
}
.collectorWrapper {
  padding: 20px;
}
.addNewCollector {
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}
.addNewCollector > p {
  font-size: 20px;
  font-weight: 700;
}
.addcutmButton {
  width: 55px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background: #0ba36a;
  border-radius: 7px;
  box-shadow: 0px 3px 10px #1ab53d87;
  margin-right: 12px;
  transition: 0.3s;
  cursor: pointer;
}
.addcutmButton:hover {
  box-shadow: none;
}

.searchCollector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 20px;
  margin: 20px 0px !important;
  box-shadow: 3px 3px 3px #46464629;
  background: var(--primaryColor);
  border-radius: 7px;
  color: white;
}
.allCollector {
  font-size: 18px;
  font-weight: 400;
  margin-top: 7px;
}
.allCollector > span {
  padding: 0px 14px;
  background: rgb(0 0 0 / 13%);
  border-radius: 21px;
  margin-left: 6px;
}

.collectorSearch {
  /* border: 2px solid #fff; */
  border-radius: 5px;
  padding: 0px;
  background: none;
  text-align: right;
}

.search {
  width: 85%;
  border: none;
  padding: 5px 9px;
  background: #7037b9;
  border-radius: 5px;
  color: white;
}
.search:focus {
  outline: none;
}
.searchButton {
  padding: 5px 10px;
  border: none;
  background: none;
  color: #4c2d74;
}
