.collectorTitle {
  padding: 20px 0;
  font-weight: 500;
  /* background: linear-gradient(45deg, #0ba372, #9449f5); */
  text-align: center;
  font-size: 2.4rem;
  color: white;
  animation: bgChange 5s ease-in infinite alternate;
}
@keyframes bgChange {
  0% {
    background: #0ba372;
  }
  100% {
    background: #9449f5;
  }
}
.collectorWrapper {
  padding: 20px;
}
.addNewCollector {
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}
.addNewCollector > p {
  font-size: 20px;
  font-weight: 700;
}
.addcutmButton {
  width: 55px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background: #0ba36a;
  border-radius: 7px;
  box-shadow: 0px 3px 10px #1ab53d87;
  margin-right: 12px;
  transition: 0.3s;
  cursor: pointer;
}
.addcutmButton:hover {
  box-shadow: none;
}
.serchingIcon {
  margin-top: 10px;
  margin-left: -25px;
  position: absolute;
}

.ActionDots {
  font-size: 24px;
  color: var(--primaryColor);
  cursor: pointer;
}
.centeringTD {
  text-align: center;
  font-weight: 600;
}
.searchCollector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 0 7px 20px;
  margin: 20px 0px !important;
  box-shadow: 3px 3px 3px #46464629;
  background: var(--primaryColor);
  border-radius: 7px;
  color: white;
}
.allCollector {
  font-size: 18px;
  font-weight: 400;
  margin-top: 7px;
}
.allCollector > span {
  padding: 0px 14px;
  background: rgb(0 0 0 / 13%);
  border-radius: 21px;
  margin-left: 6px;
}

.collectorSearch {
  border-radius: 5px;
  padding: 0px;
  background: none;
  text-align: right;
}

.search {
  width: 100%;
  border: none;
  padding: 5px 9px;
  background: #7037b9;
  border-radius: 5px;
  color: white;
}
.search:focus {
  outline: none;
}
.searchButton {
  padding: 5px 10px;
  border: none;
  background: none;
  color: #ffffff;
}
