.submitSection {
  margin-top: 20px;
}
.alert {
  display: none;
}
.alertShow {
  display: block;
}
.alert-success {
  color: #06a75a !important;
  background-color: #82ffc640 !important;
  border-color: #4effaf52 !important;
}
.marginLeft {
  margin-left: 10px;
}
.ManagerAactionLi {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.actionP {
  margin: 10px;
}

@media only screen and (max-width: 900px) {
  .searchCollector {
    padding: 15px 0;
  }
  .collectorSearch {
    text-align: left;
    margin-top: 10px;
  }
}
