.arrowUp {
  margin-left: -9px;
}

.sorting-data {
  padding: 2px;
  margin-top: -2px;
}

.toggle-column-header {
  position: relative;
}

.toggle-column-modal {
  width: 15vw;
  padding: 1rem;
  position: absolute;
  transform: scale(0);
  border: 1px solid blueviolet;
  transition: transform 0.2s;
  transform-origin: top left;
  background-color: ghostwhite;
}

.toggle-column-modal.active {
  transform: scale(1);
}

.pagination {
  margin-top: 1rem !important;
  --bs-pagination-padding-x: 1.01rem !important;
}
