.customcontainer {
  width: 600px;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}
.successTitle {
  color: #53af50;
}
.successText {
  color: gray;
  font-size: 19px;
}
.successButton {
  text-decoration: none;
  background: #4caf50;
  padding: 5px 20px;
  border-radius: 9px;
  color: white;
  font-weight: 500;
}
.successButton:hover {
  background: #51cc55;
  color: white;
}
