.logiginWrapper {
  width: 100%;
  min-height: 100vh;
  /* background: repeating-linear-gradient(45deg, #d2d2d2, #e5e5e5 600px); */
  background: url('img/Lbg.svg') center no-repeat;
  background-size: cover;
  position: relative;
}
.logiginWrapper::before {
  content: '';
  position: absolute;
  width: 40%;
  height: 80%;
  background: url('./img/background.svg') right no-repeat;
  filter: drop-shadow(2px 6px 10px gray);
  background-size: 100%;
  right: 15%;
  top: 60px;
}
.navivationBar {
  padding: 10px 0px;
}
.landingSubscribeBtn {
  margin-top: 4rem;
  padding: 10px 42px !important;
  font-size: 18px;
  font-weight: 500;
}

.gotoLogin {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: end;
}
.landingMain {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.custom-btn {
  width: fit-content;
  padding: 7px 34px;
  border-radius: 30px;
  background: linear-gradient(1deg, #201f1f, #7e79f5);
  color: #ffffff;
  box-shadow: 0px 4px 10px rgb(0 0 0 / 41%);
  transition: 0.3s;
  border: 2px ​solid #343d534d;
}
.custom-btn:hover {
  color: white;
  box-shadow: none;
}
a {
  text-decoration: none;
}
.landingTitle {
  font-size: 4rem;
  font-weight: 600;
}
.landingText {
  width: 50%;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 400;
  margin-top: 1rem;
}
