.acccountWrapper > h2 {
  width: 100%;
  text-align: center;
  padding: 15px;
}
.AccountCusotomTable1 {
  width: 100%;
  margin-bottom: 10px;
}
.AccountCusotomTable1 > tbody > tr:hover {
  background: rgba(167, 174, 180, 0.171);
}
.Accounttableheader > th {
  padding: 10px;
}
.AccountCusotomTable > tr > th,
td {
  padding: 15px;
}
