@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

/* font-family: 'Baloo Da 2', cursive;
font-family: 'Hind Siliguri', sans-serif; */
:root {
  --primary-color: #321fdb;
  --secondery-color: lightgreen;
}
* {
  font-family: 'Hind Siliguri', sans-serif;
}
