@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --primaryColor: #328eea;
  --seconderyColor: #f07f1f;
  /* --lightFront: white;
  --darkFront: rgb(38, 46, 39);
  -titlecolor: rgb(243, 243, 243); */
}

* {
  font-family: "Hind Siliguri", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  margin: 0;
  padding: 0;
}
body,
html {
  scroll-behavior: smooth;
}
body {
  color: #77828d;
}
a {
  text-decoration: none;
}
/* p {
  margin-bottom: 0px;
} */
.btn-success {
  width: 150px;
}
.dropdown-item {
  margin-bottom: 10px !important;
}
.form-select {
  max-width: none !important;
  margin: initial !important;
}
label {
  font-weight: 500;
  color: rgb(29, 28, 28);
  padding-right: 10px;
}
.table {
  --bs-table-striped-color: inherit !important;
  color: inherit !important;
}
td {
  font-size: 1rem !important;
  padding: 10px !important;
}
th {
  font-size: 1rem !important;
}
p {
  margin-bottom: 0px !important;
}
.btn-success {
  background-color: #0eb96a !important;
}
.btn-success:hover {
  background-color: #0d9c5a !important;
}
.page-item.active .page-link {
  background-color: #05d36a !important;
  border-color: #11b725 !important;
}
.page-item.active .page-link {
  color: #fff !important;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgb(218, 218, 218);
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: rgb(218, 218, 218);
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: rgb(218, 218, 218);
}
:-moz-placeholder {
  /* Firefox 18- */
  color: rgb(218, 218, 218);
}

.w-140 {
  width: 140px !important;
}
